body{
    overflow: hidden;
}

.kanan{
    width: 400px;
    height: auto;
}

.text-login{
    text-align: center;
    font-size: 24px;
}

.curved-10{
    border-radius: 10px !important;
    background-color: #d9dde1;
}

.btn-regis{
    background-color: #ffa41d;
    border-radius: 5px;
    font-size: 17px !important;
}

.btn-login{
    background-color: #ffa41d;
    border-radius: 5px;
    font-size: 17px !important;
}